.container--fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1200px;
}

.container--fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.flex-end {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.flex-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.flex-full {
  width: 100%;
  height: 100%;
}

.flex-center {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

[class*='col-'] {
  padding: 12px;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.row--full-width {
  width: 100%;
}

.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-offset-0,
.col-lg-offset-1,
.col-lg-offset-2,
.col-lg-offset-3,
.col-lg-offset-4,
.col-lg-offset-5,
.col-lg-offset-6,
.col-lg-offset-7,
.col-lg-offset-8,
.col-lg-offset-9,
.col-lg-offset-10,
.col-lg-offset-11,
.col-lg-offset-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

.col-lg {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
}

.col-lg-1 {
  -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-lg-2 {
  -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-lg-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.col-lg-4 {
  -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-lg-5 {
  -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-lg-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.col-lg-7 {
  -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-lg-8 {
  -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-lg-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}

.col-lg-10 {
  -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-lg-11 {
  -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-lg-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.col-lg-offset-0 {
  margin-left: 0;
}

.col-lg-offset-1 {
  margin-left: 8.33333333%;
}

.col-lg-offset-2 {
  margin-left: 16.66666667%;
}

.col-lg-offset-3 {
  margin-left: 25%;
}

.col-lg-offset-4 {
  margin-left: 33.33333333%;
}

.col-lg-offset-5 {
  margin-left: 41.66666667%;
}

.col-lg-offset-6 {
  margin-left: 50%;
}

.col-lg-offset-7 {
  margin-left: 58.33333333%;
}

.col-lg-offset-8 {
  margin-left: 66.66666667%;
}

.col-lg-offset-9 {
  margin-left: 75%;
}

.col-lg-offset-10 {
  margin-left: 83.33333333%;
}

.col-lg-offset-11 {
  margin-left: 91.66666667%;
}

.none-lg {
  display: none;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
  }
  .col-md {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .none-md {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
  }
  .col-sm {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .none.sm {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .col-xs,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-offset-0,
  .col-xs-offset-1,
  .col-xs-offset-2,
  .col-xs-offset-3,
  .col-xs-offset-4,
  .col-xs-offset-5,
  .col-xs-offset-6,
  .col-xs-offset-7,
  .col-xs-offset-8,
  .col-xs-offset-9,
  .col-xs-offset-10,
  .col-xs-offset-11,
  .col-xs-offset-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
  }
  .col-xs {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .col-xs-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-xs-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-xs-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-xs-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-xs-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-xs-offset-0 {
    margin-left: 0;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .none-xs {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
}

::-moz-selection {
  color: #000;
  background: #F7AC54;
}

::selection {
  color: #000;
  background: #F7AC54;
}

::-moz-selection {
  color: #000;
  background: #F7AC54;
}

.section,
.article {
  padding: 8rem 12px;
}

.section__title,
.article__title {
  margin: 0;
  padding-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 6.5rem;
  text-align: center;
}

.section__subtitle,
.article__subtitle {
  margin-bottom: 0;
  font-family: "Marck Script", cursive;
  font-size: 1.4rem;
  line-height: 4;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .section {
    padding: 4rem 12px;
  }
}

.link:hover .link__rect {
  stroke-dasharray: 100, 400;
  stroke-dashoffset: 764;
  stroke: #FFFFFF;
}

.link:hover .link__text {
  color: #F7AC54;
}

.link__text {
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  transition: color 0.7s ease-in-out;
}

.link__svg, .link__rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

.link__rect {
  stroke: #F7AC54;
  stroke-width: 4;
  transition: 0.7s ease-in-out;
  stroke-dasharray: 100, 400;
  stroke-dashoffset: 264;
}

.link__icon {
  margin-left: 5px;
  vertical-align: sub;
  color: #F7AC54;
}

@media (max-width: 992px) {
  .link:hover .link__rect {
    stroke-dasharray: 100, 400;
    stroke-dashoffset: 645;
    stroke: #FFFFFF;
  }
  .link__rect {
    stroke: #F7AC54;
    stroke-width: 4;
    transition: 0.7s ease-in-out;
    stroke-dasharray: 100, 400;
    stroke-dashoffset: 145;
  }
}

.button {
  transition: color 0.3s ease-in-out;
}

.button:hover {
  color: #F7AC54;
}

.button:hover .button__icon {
  transform: translate3d(5px, 0, 0);
}

.button:hover .button__icon--reverse {
  transform: translate3d(-5px, 0, 0);
}

.button .button__icon {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

[data-details-animation="1"] {
  background: transparent url("../images/avax/avax-ent-full.png") no-repeat;
  background-size: cover;
  background-position: 0 0;
}

[data-details-animation="2"] {
  background: transparent url("../images/sudoku-game/sudoku-smart-p.png") no-repeat;
  background-size: cover;
  background-position: 0 0;
}

[data-details-animation="3"] {
  background: transparent url("../images/kanban-app/kanban-smart-p.png") no-repeat;
  background-size: cover;
  background-position: 0 0;
}

[data-details-animation="4"] {
  background: transparent url("../images/country/country-app-smart-p.png") no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.details__animation {
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.details__animation--normal {
  animation-duration: 20s;
}

.details__animation--slow {
  animation-duration: 40s;
}

.details__animation--fast {
  animation-duration: 10s;
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: 0 0;
  }
  45% {
    background-position: 0 100%;
  }
  55% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 992px) {
  .hamburger {
    position: fixed;
    top: 20px;
    right: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border: 0;
    width: 50px;
    height: 45px;
    background-color: transparent;
    z-index: 20;
    cursor: pointer;
  }
  .hamburger__bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #F7AC54;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .hamburger__bar::before, .hamburger__bar::after {
    content: '';
    position: absolute;
    right: 0;
    height: 4px;
    background-color: #F7AC54;
    transition: width 0.3s ease-in-out;
  }
  .hamburger__bar::before {
    width: 100%;
    top: -15px;
  }
  .hamburger__bar::after {
    top: 15px;
    width: 100%;
  }
  .hamburger--toggled .hamburger__bar {
    transform: rotate(-45deg);
  }
  .hamburger--toggled .hamburger__bar::after {
    transform: translateX(2000px);
  }
  .hamburger--toggled .hamburger__bar::before {
    transform: rotate(90deg) translate3d(15px, 0, 0);
  }
}

input:required,
textarea:required {
  box-shadow: none;
  outline: none;
}

.contact-form {
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.5);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 4rem;
  background-color: black;
  overflow: hidden;
}

.contact-form__group {
  position: relative;
  overflow: hidden;
  padding: 5rem 2rem 0;
}

.contact-form__label {
  position: absolute;
  top: 60%;
  left: 20px;
  width: 100%;
}

.contact-form__label--textarea {
  bottom: 44px;
}

.contact-form__label--textarea::before, .contact-form__label--textarea::after {
  bottom: -60px;
}

.contact-form__label::before, .contact-form__label::after {
  content: '';
  position: absolute;
  bottom: -44px;
  left: 0;
  width: calc(100% - 40px);
  height: 1px;
  transition: transform 3s ease-in-out;
}

.contact-form__label::before {
  background-color: #9C9C9C;
}

.contact-form__label::after {
  transition: width 0.3s ease-in-out;
  background-color: #F7AC54;
  width: 0;
}

.contact-form__input, .contact-form__textarea {
  position: relative;
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  width: 100%;
  max-width: 100%;
  text-align: left;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 6rem;
  color: #FFFFFF;
  background-color: transparent;
}

.contact-form__input:focus + .label .label__text, .contact-form__textarea:focus + .label .label__text {
  transform: scale(0.8) translate3d(-0.5rem, -2rem, 0);
  color: #F7AC54;
}

.contact-form__input:focus + .contact-form__label::after, .contact-form__textarea:focus + .contact-form__label::after {
  width: calc(100% - 40px);
}

.contact-form__textarea {
  min-height: 120px;
}

.contact-form__inner {
  -ms-flex-pack: center;
      justify-content: center;
}

.contact-form__submit {
  border: none;
  margin-top: 6rem;
  padding: 0;
  width: 200px;
  height: 52px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #282828;
  background-color: #F7AC54;
  cursor: pointer;
}

.contact-form__submit:hover .contact-form__icon,
.contact-form__submit:focus .contact-form__icon {
  transform: translate3d(10px, 0, 0);
}

.contact-form__icon {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.label__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}

.label__text--textarea {
  top: -36px;
}

.contact-form__input--not-empty + .label .label__text,
.contact-form__textarea--not-empty + .label .label__text {
  transform: scale(0.8) translate3d(-0.5rem, -2rem, 0);
  color: #F7AC54;
}

.contact-form__input--not-empty + .contact-form__label::after,
.contact-form__textarea--not-empty + .contact-form__label::after {
  width: calc(100% - 40px);
}

.modal {
  display: none;
  -ms-flex-direction: column;
      flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #202020;
  border: 1px solid #F7AC54;
}

.modal--opened {
  display: -ms-flexbox;
  display: flex;
}

.modal__header {
  border-bottom: 1px solid #F7AC54;
  text-align: center;
  font-size: 2rem;
  color: #F7AC54;
}

.modal__text {
  text-align: center;
  font-size: 1.4rem;
  color: #9C9C9C;
}

.modal__link-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.modal__link {
  margin-right: 1rem;
  font-size: 1.4rem;
  color: #9C9C9C;
}

.modal__close {
  margin: 2rem auto 1rem;
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  background: #F7AC54;
  font-weight: bold;
  font-size: 1.4rem;
  color: #202020;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal {
    width: 90%;
  }
}

.nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav--dark {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav .container {
  -ms-flex-align: center;
      align-items: center;
}

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0;
  list-style: none;
}

.navbar__item {
  display: -ms-flexbox;
  display: flex;
}

.navbar__item:not(:last-child) {
  overflow: hidden;
  margin-right: 1rem;
}

.navbar__link {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 45px;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.navbar__link--absolute {
  position: absolute;
  bottom: 20px;
  right: 12px;
}

@media (max-width: 992px) {
  .nav {
    position: static;
    top: 0;
    right: 0;
    left: auto;
    z-index: 10;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
    transition: background-color 0.8s ease-in-out, height 0.8s ease-in-out;
  }
  .nav--toggled {
    position: fixed;
    height: 100vh;
    background-color: #000;
  }
  .navbar {
    margin: 0;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 0;
    height: 0;
  }
  .navbar--toggled {
    width: 100%;
    height: 100%;
  }
  .navbar--toggled .navbar__item {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .navbar--toggled .navbar__link {
    width: 240px;
  }
  .navbar__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  }
  .navbar__item:not(:last-child) {
    margin-right: 0;
  }
  .navbar__link {
    width: 0;
  }
}

.jumbotron {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  background: #000 url("../images/jumbo-2k.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

.jumbotron__title {
  position: relative;
  z-index: 1;
  margin: 0;
  font-family: "Poppins", "Open Sans", sans-serif;
  font-size: 6rem;
  color: #FFFFFF;
  line-height: 1.3;
  text-shadow: 2px 2px 3px black;
}

.jumbotron__subtitle {
  display: block;
  font-size: 4.6rem;
  color: #F7AC54;
}

.clip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-family: "Poppins", "Open Sans", sans-serif;
  font-size: 14rem;
  font-weight: bold;
  line-height: 78px;
  color: #9C9C9C;
  opacity: 0.2;
}

@media (max-width: 1200px) {
  .jumbotron {
    background: #000 url("../images/jumbo-lap.jpg") no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

@media (max-width: 1200px) and (orientation: portrait) {
  .jumbotron {
    background: #000 url("../images/jumbo-lap.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .jumbotron {
    background-position: center, center;
    background-size: cover;
  }
  .jumbotron__title {
    font-size: 4.8rem;
  }
  .jumbotron__subtitle {
    font-size: 3.8rem;
  }
  .clip {
    font-size: 11rem;
    line-height: 60px;
  }
}

@media (max-width: 600px) {
  .jumbotron__title {
    font-size: 4.2rem;
  }
  .jumbotron__subtitle {
    font-size: 3.2rem;
  }
  .clip {
    font-size: 9rem;
    line-height: 50px;
  }
}

@media (max-width: 480px) {
  .jumbotron {
    background: #000 url("../images/jumbo-mobile.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .jumbotron__title {
    font-size: 3.6rem;
  }
  .jumbotron__subtitle {
    font-size: 2.8rem;
  }
  .clip {
    opacity: 0.3;
    font-size: 6rem;
    line-height: 30px;
  }
}

@media (max-width: 320px) {
  .jumbotron {
    background: #000 url("../images/jumbo-mobile.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .jumbotron__title {
    font-size: 3rem;
  }
  .jumbotron__subtitle {
    font-size: 2rem;
  }
  .clip {
    opacity: 0.3;
    font-size: 5.4rem;
    line-height: 28px;
  }
}

.about-me {
  background-color: #171717;
}

.article {
  padding: 10rem 12px;
}

.article__title {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
  margin-bottom: 4rem;
  padding-bottom: 0;
  font-family: "Marck Script", cursive;
  font-size: 4rem;
  font-weight: 400;
  line-height: 6.5rem;
  text-align: center;
  text-transform: lowercase;
  color: #F7AC54;
}

.article__title::before, .article__title::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 2px;
  width: 100px;
  background-color: #FFFFFF;
}

.article__title::before {
  left: -130px;
}

.article__title::after {
  right: -130px;
}

.article__content {
  margin-top: 0;
  margin-bottom: 0.7rem;
  font-size: 1.6rem;
  line-height: 2;
  text-indent: 3.5rem;
  color: #9C9C9C;
}

.article__content:first-child:first-letter {
  font-size: 3rem;
  line-height: 1;
  color: #F7AC54;
}

.article__content--i {
  color: #F7AC54;
}

@media (max-width: 480px) {
  .article {
    padding: 4rem 12px;
  }
  .article__title::before,
  .article__title::after {
    width: 50px;
  }
  .article__title::before {
    left: -65px;
  }
  .article__title::after {
    right: -65px;
  }
}

.footer {
  background-color: #202020;
  background: linear-gradient(135deg, #202020 0%, #202020 50%, #171717 50%, #171717 100%);
  background: linear-gradient(-135deg, #202020 0%, #202020 50%, #171717 50%, #171717 100%);
  padding: 8rem 0;
}

.footer__bar {
  margin-top: 1rem;
}

.footer__title {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
  margin-bottom: 4rem;
  padding-bottom: 0;
  font-family: "Marck Script", cursive;
  font-size: 4rem;
  font-weight: 400;
  line-height: 6.5rem;
  text-align: center;
  text-transform: lowercase;
  color: #F7AC54;
}

.footer__title::before, .footer__title::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 2px;
  width: 100px;
  background-color: #FFFFFF;
}

.footer__title::before {
  left: -130px;
}

.footer__title::after {
  right: -130px;
}

.footer__copy {
  font-size: 1.6rem;
  text-align: center;
  color: #FFFFFF;
}

.footer__copy--highlighted {
  color: #F7AC54;
}

.social-media {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.social-media__item {
  margin-right: 1rem;
  font-size: 2rem;
}

.social-media__link {
  color: #FFFFFF;
  transition: color 0.3s ease-in-out;
}

.social-media__link:hover {
  color: #F7AC54;
}

@media (max-width: 480px) {
  .footer {
    padding: 4rem 0;
  }
  .footer__title::before, .footer__title::after {
    width: 50px;
  }
  .footer__title::before {
    left: -65px;
  }
  .footer__title::after {
    right: -65px;
  }
}

.headings {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -112;
  opacity: 0;
  transition: opacity  0.2s ease-in-out;
}

.headings--active {
  display: block;
  width: 100%;
  z-index: 111;
  height: 100%;
  opacity: 1;
}

.headings__button {
  position: absolute;
  bottom: 190px;
  right: 30px;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.headings__button::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 0;
  width: 130px;
  height: 2px;
  background-color: #F7AC54;
}

.headings__category {
  position: relative;
  top: 125px;
  left: 30px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.5;
  text-transform: uppercase;
  color: #F7AC54;
  text-shadow: 1px 1px 1px #000;
}

.headings__category::before {
  content: '';
  position: absolute;
  top: -125px;
  left: 0;
  width: 2px;
  height: 120px;
  background-color: #F7AC54;
}

.headings__title {
  position: absolute;
  top: 100px;
  left: 30px;
  font-size: 5.4rem;
  font-family: "Marck Script", cursive;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000;
}

@media (max-width: 768px) {
  .headings {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .headings__button, .headings__title {
    position: static;
  }
  .headings__category {
    top: 48px;
    left: 0;
    margin-top: 0;
    text-align: center;
  }
  .headings__category::before {
    top: -65px;
    left: calc(50% - 2px);
    height: 60px;
  }
  .headings__title {
    margin: 2.5rem 0 0;
    text-align: center;
  }
  .headings__button {
    text-align: center;
  }
  .headings__button::after {
    display: none;
  }
}

.preview {
  width: 0;
  height: 0;
  z-index: -113;
  background-color: #000;
  overflow: hidden;
}

.preview--active {
  z-index: 111;
  width: 100%;
  height: 100%;
}

.preview__picture {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.preview__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.details {
  padding: 0;
  width: 0;
  height: 0;
  z-index: -111;
  opacity: 0;
  transition: opacity 1.7s ease-in-out;
  position: relative;
  background-color: #202020;
}

.details > * {
  width: 0;
  height: 0;
}

.details--active {
  padding: 12px;
  width: 100%;
  height: 100%;
  z-index: 111;
  opacity: 1;
}

.details--active > * {
  width: auto;
  height: auto;
}

.details [class*='col-'] {
  height: 100%;
  overflow: hidden;
  padding: 2rem;
}

.details::before, .details::after {
  content: '';
  position: absolute;
  background-color: #F7AC54;
}

.details__category {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.5;
  text-transform: uppercase;
  color: #F7AC54;
}

.details__title {
  margin: 0;
  font-family: "Marck Script", cursive;
  font-size: 4rem;
  color: #FFFFFF;
}

.details__text {
  padding-right: 4rem;
  font-size: 1.4rem;
  color: #9C9C9C;
}

.details__animation {
  background-size: cover;
  background-position: 0 0;
  min-height: 654px;
}

.details__footer {
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

.details__link {
  margin-right: 1rem;
  border-bottom: 1px solid #feb960;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
}

.details__link:hover {
  color: #F7AC54;
  border-bottom-color: #FFFFFF;
}

.details__button {
  position: relative;
  display: inline-block;
  margin: 2rem auto;
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.details__button::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 0;
  width: 135px;
  height: 2px;
  background-color: #F7AC54;
}

.details__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .details--active {
    padding: 0;
  }
  .details__text {
    padding-right: 0;
  }
  .details__animation {
    display: none;
  }
  .details__button {
    margin-bottom: 6rem;
  }
  .details__footer {
    -ms-flex-pack: center;
        justify-content: center;
  }
}

.carousel-cell {
  width: 100%;
}

.flickity-viewport {
  margin-bottom: 2rem;
}

.flickity-page-dots {
  margin: 2rem 0;
}

.flickity-page-dots .dot {
  margin: 0 20px;
  width: 30px;
  height: 3px;
  border-radius: 0;
  background-color: #9C9C9C;
}

.flickity-page-dots .dot.is-selected {
  background-color: #F7AC54;
}

.portfolio {
  overflow: hidden;
  background: black;
}

.project {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .flickity-viewport {
    margin-bottom: 2rem;
  }
  .flickity-page-dots {
    margin: 2rem 0;
  }
  .project {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .project__preview {
    -ms-flex-order: 1;
        order: 1;
  }
  .project__headings {
    -ms-flex-order: 2;
        order: 2;
  }
}
/*# sourceMappingURL=style.css.map */