.about-me {
  background-color: $background-2;
}

.article {
  &__content {
    font-size: 1.4rem;
    line-height: 2;
    text-indent: 3.5rem;
    color: $pera-text;
    &:first-child {
      &:first-letter {
        font-size: 3rem;
        line-height: 1;
        color: $primary-color;
      }
    }
    &--i {
      color: $primary-color;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 6px solid $primary-color;
  }
  &__link {
    border-bottom: 1px solid $pera-text;
    text-decoration: none;
    color: $primary-color;
    transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
    &:hover {
      color: $light-text;
      border-bottom-color: $hover-color;
    }
  }
}

.article-list {;
  font-size: 1.4rem;
}

@media (max-width: 480px) {
  .article {
    padding: 4rem 12px;
  }
  .article__title::before,
  .article__title::after {
    width: 50px;
  }
  .article__title::before {
    left: -65px;
  }
  .article__title::after {
    right: -65px;
  }
}
