// Link animations

.link {
  &:hover .link__rect {
    stroke-dasharray: 100, 400;
    stroke-dashoffset: 764;
    stroke: $light-text;
  }
  &:hover .link__text {
    color: $primary-color;
  }
  &__text {
    width: 100%;
    text-align: center;
    align-self: center;
    font-weight: 600;
    transition: color 0.7s ease-in-out;
  }
  &__svg,
  &__rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
  }
  &__rect {
    stroke: $primary-color;
    stroke-width: 4;
    transition: 0.7s ease-in-out;
    stroke-dasharray: 100, 400;
    stroke-dashoffset: 264;
  }
  &__icon {
    margin-left: 5px;
    vertical-align: sub;
    color: $primary-color;
  }
}

@media (max-width: 992px) {
  .link {
    &:hover .link__rect {
      stroke-dasharray: 100, 400;
      stroke-dashoffset: 645;
      stroke: $light-text;
    }
    &__rect {
      stroke: $primary-color;
      stroke-width: 4;
      transition: 0.7s ease-in-out;
      stroke-dasharray: 100, 400;
      stroke-dashoffset: 145;
    }
  }
}

// button animation
.button {
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $primary-color;
  }
  &:hover .button__icon {
    transform: translate3d(5px, 0, 0);
  }
  &:hover .button__icon--reverse {
    transform: translate3d(-5px, 0, 0);
  }
  .button__icon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
}

[data-details-animation="1"] {
  background: transparent url('../images/avax/avax-ent-full.png') no-repeat;
  background-size: cover;
  background-position: 0 0;
}
[data-details-animation="2"] {
  background: transparent url('../images/sudoku-game/sudoku-smart-p.png') no-repeat;
  background-size: cover;
  background-position: 0 0;
}
[data-details-animation="3"] {
  background: transparent url('../images/kanban-app/kanban-smart-p.png') no-repeat;
  background-size: cover;
  background-position: 0 0;
}
[data-details-animation="4"] {
  background: transparent url('../images/country/country-app-smart-p.png') no-repeat;
  background-size: cover;
  background-position: 0 0;
}

// details__animation
.details__animation {
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.details__animation--normal {
  animation-duration: 20s;
}
.details__animation--slow {
  animation-duration: 40s;
}
.details__animation--fast {
  animation-duration: 10s;
}
@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: 0 0;
  }
  45% {
    background-position: 0 100%;
  }
  55% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}