.footer {
  background-color: $background-1;
  background: linear-gradient(135deg, $background-1 0%, $background-1 50%, $background-2 50%, $background-2 100%);
  background: linear-gradient(-135deg, $background-1 0%, $background-1 50%, $background-2 50%, $background-2 100%);
  padding: 8rem 0;
  &__bar {
    margin-top: 1rem;
  }
  &__copy{
    font-size: 1.8rem;
    text-align: center;
    color: $light-text;
    &--highlighted {
      color: $primary-color;
    }
  }
}
.social-media {
  display: flex;
  list-style: none;
  padding-left: 15px;
  &__item {
    margin-right: 1rem;
    font-size: 2rem;
  }
  &__link {
    color: $light-text;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $primary-color;
    }
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 4rem 0;
    &__title {
      &::before,
      &::after {
        width: 50px;
      }
      &::before {
        left: -65px;
      }
      &::after {
        right: -65px;
      }
    }
  }
}
