.hamburger {
  display: none;
}

@media (max-width: 992px) {
  .hamburger {
    position: fixed;
    top: 20px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 50px;
    height: 45px;
    background-color: transparent;
    z-index: 20;
    cursor: pointer;
    &__bar {
      position: relative;
      width: 100%;
      height: 4px;
      background-color: $primary-color;
      transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
      &::before,
      &::after {
        content: '';
        position: absolute;
        right: 0;
        height: 4px;
        background-color: $primary-color;
        transition: width 0.3s ease-in-out;
      }
      &::before {
        width: 100%;
        top: -15px;
      }
      &::after {
        top: 15px;
        width: 100%;
      }
    }
    &--toggled .hamburger__bar {
      transform: rotate(-45deg);
    }
    &--toggled .hamburger__bar::after {
      transform: translateX(2000px);
    }
    &--toggled .hamburger__bar::before {
      transform: rotate(90deg) translate3d(15px, 0, 0);
    }
  }
}