.jumbotron {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $black url('../images/jumbotron/jumbo-2k.jpg') no-repeat;
  background-position: center top;
  background-size: cover;

  &__title {
    position: relative;
    z-index: 1;
    margin: 0;
    font-family: $secondary-font;
    font-size: 6rem;
    color: $light-text;
    line-height: 1.3;
    text-shadow: 2px 2px 3px black;
  }

  &__subtitle {
    display: block;
    font-size: 4.6rem;
    color: $primary-color;
  }
}

.clip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  font-family: $secondary-font;
  font-size: 14rem;
  font-weight: bold;
  line-height: 78px;
  color: $pera-text;
  opacity: 0.2;
}
@media (max-width: 1200px) {
  .jumbotron {
    background: $black url('../images/jumbotron/jumbo-lap.jpg') no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
@media (max-width: 1200px) and (orientation: portrait){
  .jumbotron {
    background: $black url('../images/jumbotron/jumbo-lap.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .jumbotron {
    background-position: center, center;
    background-size: cover;
    &__title {
      font-size: 4.8rem;
    }
    &__subtitle {
      font-size: 3.8rem;
    }
  }
  .clip {
    font-size: 11rem;
    line-height: 60px;
  }
}

@media (max-width: 600px) {
  .jumbotron {
    &__title {
      font-size: 4.2rem;
    }
    &__subtitle {
      font-size: 3.2rem;
    }
  }
  .clip {
    font-size: 9rem;
    line-height: 50px;
  }
}

@media (max-width: 480px) {
  .jumbotron {
    background: $black url('../images/jumbotron/jumbo-mobile.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    &__title {
      font-size: 3.6rem;
    }
    &__subtitle {
      font-size: 2.8rem;
    }
  }
  .clip {
    opacity: 0.3;
    font-size: 6rem;
    line-height: 30px;
  }
}
@media (max-width: 320px) {
  .jumbotron {
    background: $black url('../images/jumbotron/jumbo-mobile.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    &__title {
      font-size: 3rem;
    }
    &__subtitle {
      font-size: 2rem;
    }
  }
  .clip {
    opacity: 0.3;
    font-size: 5.4rem;
    line-height: 28px;
  }
}