// carousel settings
.carousel {

}
.carousel-cell {
// ustawić stałą wysokość tak by pasowało ale dostosowac ją w zależności od media queries by ładnie wyglądało
}
.flickity-viewport {
  min-height: 720px;
}
.portfolio {
  overflow: hidden;
  background: black;
}

.project {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .portfolio {

  }
  .details.details--active .flickity-viewport {
    min-height: 1600px;
  }
  .project {
    display: flex;
    flex-direction: column;
    &__preview {
      order: 1;
    }
    &__headings {
      order: 2;
    }
  }
}