// carousel settings
.carousel {

}
.carousel-cell {
  width: 100%;
// ustawić stałą wysokość tak by pasowało ale dostosowac ją w zależności od media queries by ładnie wyglądało
}
.flickity-viewport {
  // min-height: 520px;
  margin-bottom: 2rem;
}
.flickity-page-dots {
  margin: 2rem 0;
  .dot {
    margin: 0 20px;
    width: 30px;
    height: 3px;
    border-radius: 0;
    background-color: $pera-text;
  }
  .dot.is-selected {
    background-color: $primary-color;
  }
}
.portfolio {
  overflow: hidden;
  background: black;
}

.project {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .flickity-viewport {
    margin-bottom: 2rem;
  }
  .flickity-page-dots {
    margin: 2rem 0;
  }
  .project {
    display: flex;
    flex-direction: column;
    &__preview {
      order: 1;
    }
    &__headings {
      order: 2;
    }
  }
}