// carousel settings
.carousel {

}
.carousel-cell {
// ustawić stałą wysokość tak by pasowało ale dostosowac ją w zależności od media queries by ładnie wyglądało
}
.flickity-viewport {
  min-height: 520px;
}
.expanded {
  min-height: 830px;
}
.portfolio {
  overflow: hidden;
  background: black;
}

.project {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .flickity-viewport {
  }
  .expanded {
    min-height: 1040px;
  }
  .project {
    display: flex;
    flex-direction: column;
    &__preview {
      order: 1;
    }
    &__headings {
      order: 2;
    }
  }
}