
.details {
  padding: 0;
  width: 0;
  height: 0;
  z-index: -111;
  opacity: 0;
  transition: opacity 1.7s ease-in-out;
  > * {
    width: 0;
    height: 0;
  }
  &--active {
    padding: 12px;
    width: 100%;
    height: 100%;
    z-index: 111;
    opacity: 1;
    > * {
      width: auto;
      height: auto;
    }
  }
  [class*='col-'] {
    height: 100%;
    overflow: hidden;
    padding: 2rem;
  }
  position: relative;
  background-color: $background-1;
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: $primary-color;
  }
  &__category {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.5;
    text-transform: uppercase;
    color: $primary-color;
  }
  &__title {
    margin: 0;
    font-family: $secondary-font;
    font-size: 4rem;
    color: $light-text;
  }
  &__text {
    padding-right: 4rem;
    font-size: 1.4rem;
    color: $pera-text;
  }
  &__animation {
    background-size: cover;
    background-position: 0 0;
    min-height: 654px;
  }
  &__footer {
    display: flex;
    padding: 1rem 0;
  }
  &__link {
    margin-right: 1rem;
    border-bottom: 1px solid $hover-color;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: $light-text;
    transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
    &:hover {
      color: $primary-color;
      border-bottom-color: $light-text;
    }
  }
  &__button {
    position: relative;
    display: inline-block;
    margin: 2rem auto;
    font-size: 1.4rem;
    font-weight: bold;
    color: $light-text;
    text-decoration: none;
    text-transform: uppercase;
    &::after {
      content: '';
      position: absolute;
      top: 35px;
      left: 0;
      width: 130px;
      height: 2px;
      background-color: $primary-color;
    }
  }
}

@media (max-width: 992px) {
  .details {
    &--active {
      padding: 0;
    }
    &__text {
      padding-right: 0;
    }
    &__animation {
      display: none;
    }
    &__button {
      margin-bottom: 6rem;
    }
    &__footer {
      justify-content: center;
    }
  }
}