$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Poppins','Open Sans', sans-serif;


$primary-color: #F7AC54;
$hover-color: #feb960;

$light-text: #FFFFFF;
$dark-text: #282828;
$pera-text: #9C9C9C;

$background-1: #202020;
$background-2: #171717;

$black: #000;

$radius: 4px;